version: '3'

services:
  python_app:
    container_name: python_app
    build: .
    # image: continuumio/miniconda
    stdin_open: true
    tty: true
    restart: always
    volumes:
      - .:/code
    ports:
      - 8020:8000
    command: python main.py

  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
    ports:
    - 3305:3306

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 8081:80

