version: '3'

services:
  python_app:
    container_name: python_app
    build: .
    # image: continuumio/miniconda
    stdin_open: true
    tty: true
    restart: always
    volumes:
      - .:/code
    ports:
      - ${FAST_API_PORT}:${FAST_API_DOCKER_PORT}
    command: python main.py
    depends_on:
      - db

  db:
    image: mariadb
    container_name: db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_PASSWORD}
    ports:
      - ${MARIADB_PORT}:${MARIADB_DOCKER_PORT}
    volumes:
      - ./db-data:/docker-entrypoint-initdb.d


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - ${PHP_MYADMIN_LOCAL_PORT}:${PHP_MYADMIN_DOCKER_PORT}

  selenium-hub:
      container_name: selenium-hub
      image: selenium/hub:3.141.59-zirconium
      ports:
        - "4444:4444"
    # Spawn chrome browser for selenium configurations
  selenium-chrome:
    container_name: selenium-chrome
    image: selenium/node-chrome:3.141.59-zirconium
    volumes:
      - /dev/shm:/dev/shm
    environment:
      HUB_HOST: selenium-hub
      HUB_PORT: 4444
    deploy:
        replicas: 1
    entrypoint: bash -c 'SE_OPTS="-host $$HOSTNAME" /opt/bin/entry_point.sh'